data:
  profile: {{ promptChoiceOnce . "profile" "Select profile" (list "personal" "work") }}
  email: {{ promptStringOnce . "email" "Enter email address" }}
  sshDir: {{ printf "%s/.ssh" .chezmoi.homeDir }}
  sshKeyName: {{ promptStringOnce . "sshKeyName" "Enter SSH key name" "id_ed25519" }}
